.paginator {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.paginator-buttons {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.paginator-buttons:active {
    border: 3px solid #C94E50;
}

.paginator-button {
    margin: 10px;
    height: 30px;
    width: 30px;
    line-height: 20px;
    border-radius: 50%;
    background: #fff;
    color: #B4BAD2;
    border: none;
    font-weight: 900;
    transition: 0.2s ease-out;
}

.paginator-button:hover {
    border: 3px solid #C94E50;
}

@media (max-width: 767px) {
    .paginator {
        justify-content: center;
    }
}