.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
}

.collection-item {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.collection-item input {
    margin-right: 10px;
}

.collection-item label {
    line-height: 22px;
    font-size: 22px;
    float: right;
}

.total {
    font-weight: 900;
}

.button-cart {
    border: 1px solid #009432;
    margin: 20px 0;
    background: #fff;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    color: #009432;
    display: block;
    transition: 0.5s ease;
}

.button-cart:hover {
    background-color: #009432;
    color: white;
    font-weight: bold;
}