.home-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 84vh;
}

#page-wrap {
    text-align: center;
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
}