.contact-container {
    padding-top: 50px;
    min-height: 84vh;
    display: flex;
    flex-direction: row;
}

.address {
    width: 100%;
}

.contact {
    width: 100%;
}

.info {
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
}

.name,
.email,
.text {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 1px solid #C94E50;
    color: #161617;
}

.text {
    padding-top: 10px;
    height: 80%;
}

.button-contact {
    border: 1px solid #C94E50;
    background: #C94E50;
    height: 50px;
    width: 150px;
    color: white;
    display: block;
    transition: 0.5s ease;
}

.choice {
    display: flex;
    flex-direction: column;
    float: right;
    width: 100%;
    text-align: right;
}

.choice h6 {
    text-transform: uppercase;
    font-size: 30px;
    margin: 127px 20px 20px 0;
}

@media (max-width: 767px) {
    .contact {
        min-height: 70vh;
        text-align: center;
    }
    .name,
    .email,
    .text {
        width: 100%;
    }
    .button-contact {
        margin: 0 auto;
    }
    .choice {
        display: none;
    }
}