.contact {
    padding-top: 100px;
    min-height: 84vh
}

.info {
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
}

.name,
.email,
.text {
    width: 50%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 20px;
    border: 1px solid #FFFCE1;
    color: black;
    background-color: #B4BAD2;
}

.name::placeholder,
.email::placeholder,
.text::placeholder,
.name:-ms-input-placeholder,
.email:-ms-input-placeholder,
.text:-ms-input-placeholder {
    color: #FFFCE1;
}

.text {
    padding-top: 10px;
    height: 80%;
}

.button-contact {
    border: 1px solid #B4BAD2;
    background: #C94E50;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    color: #FFFCE1;
    display: block;
    transition: 0.5s ease;
}

.choice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
}

.choice h6 {
    text-transform: uppercase;
    font-size: 30px;
}

@media (max-width: 767px) {
    .contact {
        padding-top: 50px;
        text-align: center;
    }
    .name,
    .email,
    .text {
        width: 100%;
    }
    .button-contact {
        margin: 0 auto;
    }
    .choice {
        display: none;
    }
}