.products-container {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.products {
    width: 300px;
    margin: 20px;
    background: #ecf0f1;
    color: #009432;
    text-align: center;
    position: relative;
}

.products-title {
    font-size: 17px;
    color: #000;
    font-weight: 900;
    margin-top: 10px;
}

.product-price {}

.products-img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 2px;
    position: relative;
}

.products-img img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 50px;
}

.products-button {
    font-family: 'Roboto Mono', monospace;
    background-color: #009432;
    color: #ecf0f1;
    font-weight: bold;
    border: none;
    font-size: 13px;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 3;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    transition: 0.5s ease;
}