.products-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.paginated-data {
    padding: 0;
}

.products {
    width: 300px;
    margin: 20px;
    background: #dfe6e9;
    color: #C94E50;
    text-align: center;
    position: relative;
    border: 1px solid #B4BAD2;
    border-radius: 20px;
    box-shadow: 0 0 67px -25px #B4BAD2;
}

.products:hover {
    border: 1px solid #C94E50;
}

.products-title {
    font-size: 17px;
    color: #000;
    font-weight: 900;
    margin-top: 10px;
}

.product-price {}

.products-img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 2px;
    position: relative;
    border-radius: 20px;
}

.products-img img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 50px;
}

.products-button {
    background-color: #C94E50;
    color: black;
    font-weight: bold;
    border: none;
    font-size: 13px;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 3;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    transition: 0.5s ease;
}

.products-button:hover {
    color: #FFFCE1;
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.paginator-button {
    margin: 10px;
    height: 30px;
    width: 30px;
    line-height: 20px;
    border-radius: 50%;
    background: #fff;
    color: #B4BAD2;
    border: none;
    font-weight: 900;
    transition: 0.2s ease-out;
}

.paginator-button:hover {
    border: 3px solid #C94E50;
}

@media (max-width: 576px) {
    .products-container {
        justify-content: center;
        padding-top: 50px;
    }
    .paginator {
        justify-content: center;
    }
}