a,
a:visited {
    color: black;
}

a.active {
    color: #C94E50;
}

.nav-bar {
    font-weight: bold;
    margin: 15px;
    padding-top: 25px;
    float: right;
    display: flex;
    flex-direction: row;
}

.nav-bar a {
    color: black;
    margin-right: 10px;
    text-decoration: none;
    letter-spacing: 3px;
    transition: 0.2s ease;
}

.nav-bar a:hover {
    text-decoration: none;
    color: #C94E50;
}

.icon-container {
    display: flex;
    flex-direction: row;
    float: right;
}

.fa-shopping-cart {
    font-size: 22px;
}

@media screen and (max-width: 767px) {
    .nav-bar {
        display: none;
    }
}