a {
    color: #161617;
}

.nav-bar a.active {
    color: #C94E50;
    font-weight: 900;
}

.nav-bar {
    font-weight: bold;
    margin: 15px;
    padding-top: 25px;
    float: right;
    display: flex;
    flex-direction: row;
}

.nav-bar a {
    color: #161617;
    margin-right: 10px;
    text-decoration: none;
    letter-spacing: 4px;
    transition: 0.2s ease;
}

.nav-bar a:hover {
    text-decoration: none;
    color: #C94E50;
}

.icon-container {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.fa-shopping-cart {
    font-size: 27px;
}

.fa-shopping-cart:hover {
    color: black;
}

.cart-items {
    padding-left: 4px;
    width: 20px;
    height: 20px;
    background: #C94E50;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    transform: translate(17px, -18px);
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
}

@media screen and (max-width: 767px) {
    .nav-bar {
        display: none;
        justify-content: center;
    }
}