.bikes-list {
    font-family: 'Roboto Mono', monospace;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-weight: bold;
}

.bike {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    width: 200px;
    color: #353b48;
    transition: 0.2s ease;
}

.line {
    border-bottom: 1px solid #ccc;
    transform: translateY(10px);
    width: 150px;
}

label {
    margin-left: 10px;
}

.bike.active {
    color: #353b48;
}

.bike:hover {
    text-decoration: none;
    color: #C94E50;
}

.reset {
    font-weight: 700;
}

.reset.active {
    color: #C94E50;
}

@media (max-width: 576px) {
    .bikes-list {
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
    }
}