.bm-item {
    display: flex;
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
    outline: 0;
}

.bm-item:hover {
    color: white;
}

.nav-bar-burger a {
    display: flex;
    flex-direction: column;
}

.bm-burger-button {
    display: none;
}

.bm-burger-bars {
    background: #373a47;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bm-item-list a {
    margin: 20px;
    color: #b8b7ad;
}

.bm-item-list a:active {
    color: #C94E50;
}

.bm-item-list a:hover {
    text-decoration: none;
    color: #C94E50;
}

.bm-overlay {
    left: 0;
    background: rgba(0, 0, 0, 0.0);
}

@media screen and (max-width: 767px) {
    .bm-burger-button {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 36px;
        height: 30px;
        right: 100px;
        top: 36px;
        transition: 1s ease-out;
    }
}

@media screen and (max-width: 576px) {
    .bm-burger-button {
        right: 50px;
    }
}