.footer {
    display: flex;
    color: #C94E50;
    font-weight: 700;
    margin-top: 50px;
    width: 100%;
}

@media(max-width:996px) {
    .footer {
        display: block;
        text-align: center;
    }
}